<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% for(var i=0; i<htmlWebpackPlugin.options.links.length ; i++) {%>
      <% var link=htmlWebpackPlugin.options.links[i]%>
    <link rel="<%= link.rel %>" href="<%= link.path %><%= link.file %>"/>
    <% } %>
  <% for(var i=0; i<htmlWebpackPlugin.files.css.length ; i++) {%>
      <% var link=htmlWebpackPlugin.files.css[i]%>
    <link rel="stylesheet" href="<%= link %>"/>
  <% } %>
</head>
<body>
  <div id="app"></div>
  <script>
    const locationPath = location.pathname.replace(/\/[^\/]+$/, "");
    window.dojoConfig = {
            async: true,
            // packages: [{
            //   name: 'app',
            //   location: locationPath + "/app"
            // }]
    };
  </script>

  <% for(var i=0; i<htmlWebpackPlugin.options.localScripts.length; i++) {%>
    <% var script=htmlWebpackPlugin.options.localScripts[i]%>
    <script src="<%= script.path %><%= script.file %>"></script>
  <% } %>

  <script>
      var chunks=[];
      <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      chunks.push('<%= htmlWebpackPlugin.files.chunks[chunk].entry %>');
      <% } %>
      require(chunks,function () {

      })
  </script>
</body>
</html>